# Data Science Tools and Ecosystem

In this notebook, data science tools and ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:

1. SQL
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Seaborn
3. Tensorflow
4. Pandas
5. Numpy.
6. Scipy

| Data Science Tool | 
| :----------------:|
| Rstudio | 
| Apache Spark | 
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers.
x = (3*4)+5
print(x)

17

In [7]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

**Objective:** List popular languages for Data Science.
+ Python
+ R
+ SQL

## Author
Name : Zeyad Shorman